<nav class="navbar bg-dark navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
    <!-- Navbar content -->
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Home</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
          
            <a class="nav-link" routerLinkActive="active" routerLink="services/Java/101">Services 1</a>
            <a class="nav-link" routerLinkActive="active" routerLink="services/ReactJs/102">Services 2</a>
            <a class="nav-link" routerLinkActive="active" (click)="goToServices('Angular',103)">Services 3</a>
            <a class="nav-link" routerLinkActive="active" routerLink="career">Careers</a>
            <a class="nav-link" routerLinkActive="active" routerLink="join">Join Us</a>
            <a class="nav-link" routerLinkActive="active" routerLink="about">About Us</a>
          </div>
        </div>
      </div>
  </nav>


<div class="container">
  <h1>hello</h1>
</div>

