.container{
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    height: 600px;
    margin-top: 90px;
    background-color: rgb(255, 198, 123);

    p{
        font-size: 45px;
        font-weight: 600;
    }
}